<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.plusl.xybookkeepdemo">

    <application
        android:name=".UniteApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_xiaoyuanbookkeep"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_xiaoyuanbookkeep_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.XYbookkeepDemo">
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CenterActivity"
            android:exported="false" />
        <activity
            android:name=".HistoryActivity"
            android:exported="false" />
        <activity
            android:name=".SearchActivity"
            android:exported="false" />
        <activity
            android:name=".ChartActivity"
            android:exported="false" />
        <activity
            android:name=".AccountActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false">
        </activity>
    </application>

</manifest>